:root {
  --main-color: #2e2f42;
  --active-color: #4d5ae5;
  --text-color: #434455;
  --secondary-color: #ffffff;
  --light-color: #f4f4fd;
  --press-color: #404bbf;
  --icon-color: #8e8f99;
  --transition-dur-funk: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--secondary-color);
}

.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.logo-header {
  display: block;
  padding-top: 24px;
  padding-bottom: 22px;
}

@media screen and (max-width: 767px) {
  .container {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
  }
  .menu,
  .addresses {
    display: none;
  }

  .page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobile-menu-container {
    position: relative;
    padding-left: 40px;
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .mobile-menu-container-link {
    padding-bottom: 40px;
  }

  .mobile-menu-container-item {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--main-color);
    transition: color var(--transition-dur-funk);
  }

  .mobile-menu-container-item:focus {
    color: var(--press-color);
  }

  .mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }

  .mobile-menu {
    position: fixed;
    background-color: var(--secondary-color);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu-close-btn {
    display: flex;
    position: absolute;
    top: 24px;
    right: 24px;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    cursor: pointer;
    transition: background-color var(--transition-dur-funk);
  }

  .icon-close {
    fill: var(--main-color);
  }

  .page-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08),
      0 1px 1px rgba(46, 47, 66, 0.16), 0 1px 6px rgba(46, 47, 66, 0.08);
  }

  .logo {
    color: var(--active-color);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    font-weight: 800;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  .logo-dark {
    color: var(--main-color);
  }

  .logo-light {
    color: var(--light-color);
  }

  .mobile-menu-container-addresses {
    padding-top: 244px;
  }

  .mobile-menu-phone-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--active-color);
    padding-top: 244px;
  }

  .mobile-menu-email {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .mobile-menu-email-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--text-color);
  }

  .modal-footer-list {
    display: flex;
    gap: 56px;
  }

  .mobile-menu-close-btn:focus {
    background-color: var(--press-color);
    fill: var(--secondary-color);
  }

  .social-footer {
    display: flex;
    background-color: var(--active-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color var(--transition-dur-funk);
  }

  .social-footer:focus {
    background-color: #31d0aa;
  }

  .social-icon {
    fill: var(--light-color);
  }
  .hero {
    display: flex;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/Hero-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 428px;
    max-height: 432px;
    top: 0;
    left: 0;
    margin: 70px auto 0;
    text-align: center;
    padding: 112px 0 168px;
  }
  .hero-title {
    margin: auto;
    max-width: 320px;
    margin-bottom: 72px;
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
  }

  .hero {
    background-color: var(--main-color);
  }
  .modal-open-btn {
    display: block;
    border: none;
    margin: auto;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--secondary-color);
    background-color: var(--active-color);
    height: 56px;
    cursor: pointer;
    box-shadow: 0 4px rgba(0, 0, 0, 0.15);
    transition: background-color var(--transition-dur-funk);
  }

  .modal-open-btn:hover,
  .modal-open-btn:focus {
    color: var(--secondary-color);
    background-color: var(--press-color);
    box-shadow: 0 4px rgba(0, 0, 0, 0.15);
  }
  .scills {
    display: flex;
    justify-content: center;
    padding-top: 96px;
    padding-bottom: 18px;
  }
  .scills-icon {
    display: none;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .scills-list {
    display: none;
  }

  .first-scill {
    margin-bottom: 72px;
  }

  .scills-item {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--main-color);
    margin-bottom: 8px;
  }

  .scills-item-about {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    max-width: 396px;
    justify-content: center;
  }
  .doing-container {
    display: none;
  }
  .team-container {
    display: flex;
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: var(--light-color);
  }
  .team-list-top {
    background-color: var(--light-color);
  }
  .team-list {
    background-color: var(--secondary-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }
  .team-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-color);
    text-align: center;
    margin-bottom: 8px;
  }
  .item-about {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 8px;
  }
  .team-border {
    padding: 32px 0;
  }
  .social {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .social-list {
    display: flex;
    background-color: var(--active-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color var(--transition-dur-funk);
  }

  .social-list:hover,
  .social-list:focus {
    background-color: var(--press-color);
  }

  .social-icon {
    fill: var(--light-color);
  }
}
