:root {
  --main-color: #2e2f42;
  --active-color: #4d5ae5;
  --text-color: #434455;
  --secondary-color: #ffffff;
  --light-color: #f4f4fd;
  --press-color: #404bbf;
  --icon-color: #8e8f99;
  --transition-dur-funk: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: flex;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--secondary-color);
}

.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.logo-header {
  display: block;
  padding-top: 24px;
  padding-bottom: 22px;
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100%;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition-dur-funk),
    visibility var(--transition-dur-funk);
}
.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-menu-container {
  position: relative;
  padding-top: 80px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-left: auto;
  padding-right: auto;
}

.mobile-menu-container-link {
  margin-bottom: 40px;
}

.mobile-menu-container-item {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--main-color);
  transition: color var(--transition-dur-funk);
}
.studio {
  color: var(--press-color);
}
.mobile-menu-container-item:focus {
  color: var(--press-color);
}

.mobile-menu-open {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.mobile-menu {
  position: fixed;
  background-color: var(--secondary-color);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  display: flex;
}

.mobile-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-close-btn {
  display: flex;
  position: absolute;
  top: 24px;
  right: 24px;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  transition: background-color var(--transition-dur-funk);
}

.icon-close {
  transition: fill var(--transition-dur-funk);
  fill: var(--main-color);
}

.window-close-btn:hover .icon-close,
.window-close-btn:focus .icon-close {
  fill: var(--secondary-color);
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16),
    0 1px 6px rgba(46, 47, 66, 0.08);
}

.logo {
  color: var(--active-color);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  font-weight: 800;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-dark {
  color: var(--main-color);
}

.logo-light {
  color: var(--light-color);
}

.mobile-menu-phone-item {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--active-color);
  padding-top: 244px;
}

.mobile-menu-email {
  margin-top: 40px;
  margin-bottom: 48px;
}

.mobile-menu-email-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.mobile-footer-list {
  display: flex;
  gap: 36px;
}

.modal-footer-list {
  display: flex;
  gap: 56px;
}

.mobile-menu-close-btn:focus {
  background-color: var(--press-color);
  fill: var(--secondary-color);
}

.social-footer {
  display: flex;
  background-color: var(--active-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition-dur-funk);
}

.social-footer:focus {
  background-color: #31d0aa;
}

.social-icon {
  fill: var(--light-color);
}

.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero/hero-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 428px;
  margin: 70px auto 0;
  text-align: center;
  padding: 112px 0 112px;
}
.hero-title {
  margin: auto;
  max-width: 320px;
  margin-bottom: 72px;
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.modal-open-btn {
  display: block;
  border: none;
  margin: auto;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--secondary-color);
  background-color: var(--active-color);
  height: 56px;
  cursor: pointer;
  box-shadow: 0 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition-dur-funk);
}

.modal-open-btn:hover,
.modal-open-btn:focus {
  color: var(--secondary-color);
  background-color: var(--press-color);
  box-shadow: 0 4px rgba(0, 0, 0, 0.15);
}
.scills {
  padding-top: 96px;
  padding-bottom: 96px;
}
.scills-icon {
  display: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.scills-list {
  display: none;
}

.first-scill {
  margin-bottom: 72px;
}

.first-scill:last-child {
  margin-bottom: 0;
}

.scills-item {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--main-color);
  margin-bottom: 8px;
}

.scills-item-about {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  justify-content: center;
}

.doing-container {
  display: none;
}
.team-container {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--light-color);
}

.team-title {
  text-align: center;
  margin: 0 auto 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.team-list-top {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 72px;
  background-color: var(--light-color);
}
.team-list {
  background-color: var(--secondary-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  max-width: 264px;
}

.team-item-img {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.team-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color);
  text-align: center;
  margin-bottom: 8px;
}
.item-about {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 8px;
}

.team-border {
  padding: 32px 0;
}
.social {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-list {
  display: flex;
  background-color: var(--active-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition-dur-funk);
}

.social-list:hover,
.social-list:focus {
  background-color: var(--press-color);
}

.customers-container {
  display: block;
  padding-top: 96px;
  padding-bottom: 96px;
  margin-left: auto;
  margin-right: auto;
}
.customers-title {
  width: 197 px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-color);
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 72px;
}
.every-customer-item {
  flex-basis: calc((100% - 16px) / 2);
  max-width: 190px;
  height: 88px;
}

.customers-item {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
  transition: border-color var(--transition-dur-funk),
    color var(--transition-dur-funk);
}
.customers-icon {
  fill: currentColor;
}

.customers-item:hover,
.customers-item:focus {
  border: 1px solid var(--press-color);
}

.customers-item:hover,
.customers-item:focus {
  color: var(--press-color);
}

.footer {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--main-color);
}
.container-footer {
  max-width: 428px;
}

.footer-link {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
}
.footer-about {
  text-align: start;
  margin-left: auto;
  margin-right: auto;
  width: 268px;
  font-weight: 400px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-color);
}
.social-media-footer {
  margin-top: 72px;
  margin-bottom: 72px;
}
.social-media {
  text-align: center;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
.social-footer-list {
  justify-content: center;
  display: flex;
  gap: 16px;
}

.subscribe-title {
  text-align: center;
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.subscribe-email {
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  width: 398px;
  height: 40px;
  background: transparent;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px #00000026;
  outline: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--secondary-color);
  filter: drop-shadow (0px 4px 4px rgba(0, 0, 0, 0.15));
}

.subscribe-email::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--secondary-color);
  text-shadow: 0px 4px 4px 0px #00000040;
  opacity: 0.6;
}

.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  width: 165px;
  height: 40px;
  border-radius: 4px;
  background-color: var(--active-color);
  color: var(--secondary-color);
  border: none;
  cursor: pointer;
  transform: background-color var(--transition-dur-funk);
}

.subscribe-button:focus {
  background-color: var(--press-color);
}

.subscribe-letter {
  margin-left: 16px;
  fill: var(--secondary-color);
}

/* Backdrop */

.modal-window {
  width: 392px;
}

.window-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: background-color var(--transition-dur-funk),
    border var(--transition-dur-funk);
}

.window-close-btn:hover,
.window-close-btn:focus {
  border: none;
  background-color: var(--press-color);
}

.modal-window-name {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color);
  margin-bottom: 16px;
}

.modal-form-input-desk {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--icon-color);
  margin-bottom: 4px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-input-wrapper {
  position: relative;
}

.modal-form-input-icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--main-color);
  transition: fill var(--transition-dur-funk);
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-window-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  outline: transparent;
  background-color: transparent;
  transition: border-color var(--transition-dur-funk);
  padding-left: 38px;
}

.modal-window-input:focus {
  outline: none;
  border-color: var(--active-color);
}

.modal-window-input:focus + .modal-form-input-icon {
  fill: var(--active-color);
}

.modal-form-field-comment {
  margin-bottom: 16px;
}

.modal-window-comment {
  display: block;
  padding: 8px 16px;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.2);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color var(--transition-dur-funk);
}

.modal-window-comment::placeholder {
  position: absolute;
}

.modal-window-comment:focus {
  outline: none;
  border-color: var(--active-color);
}

/* Checkbox */

.checkbox {
  margin-bottom: 24px;
}

.modal-form-chekbox {
  clip: rect(0 0 0 0);
  position: absolute;
}

.modal-form-own-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--main-color);
  cursor: pointer;
  border-radius: 2px;
  height: 16px;
  width: 16px;
  fill: transparent;
  margin-right: 8px;
  border-color: rgba(46, 47, 66, 0.4);
}

.modal-form-chekbox:checked
  + .modal-form-chekbox-wrapper
  .modal-form-own-checkbox {
  border: none;
  border-color: var(--press-color);
  background-color: var(--press-color);
  fill: var(--secondary-color);
}

.privacy-policy {
  margin-left: 2px;
  color: var(--active-color);
}

.modal-form-chekbox-wrapper {
  position: relative;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--icon-color);
}

/* Button Send */
.modal-form-submit {
  display: block;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  color: var(--secondary-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  background-color: var(--active-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: color var(--transition-dur-funk);
  border: none;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color var(--transition-dur-funk);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: var(--press-color);
}

@media screen and (min-width: 319px) {
  .container {
    width: 320px;
  }
  .subscribe-list {
    display: flex;
    margin-left: auto;
    margin: auto;
    width: 288px;
    height: 40px;
  }
  .menu {
    display: none;
  }
  .addresses {
    display: none;
  }
  .modal-window {
    position: absolute;
    width: 288px;
    min-height: 584px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform var(--transition-dur-funk);
    padding: 72px 16px 24px 16px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero-mobile@2x.jpg");
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 428px;
  }
  .subscribe-list {
    width: 398px;
  }
  .modal-window {
    width: 392px;
  }

  .mobile-footer-list {
    display: flex;
    gap: 56px;
  }
  .mobile-menu-phone-item {
    font-size: 36px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero-tablet@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .mobile-menu-open {
    display: none;
  }

  /* Header */

  .page-navigation {
    display: flex;
    align-items: center;
  }

  .menu {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .menu-item {
    display: block;
    padding: 24px 0;
  }

  .logo {
    margin-right: 120px;
  }

  .menu-item {
    color: var(--main-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .menu-item:hover,
  .menu-item:focus {
    color: var(--press-color);
    transition: color var(--transition-dur-funk);
  }

  .addresses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 12px;
  }
  .addresses-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 12px;
  }

  .modal-window {
    width: 408px;
  }

  .contact {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--text-color);
    transition: color var(--transition-dur-funk);
  }

  .contact:focus {
    color: var(--press-color);
  }

  /* Hero */
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero-tablet.jpg");
    max-width: 768px;
    margin: 72px auto 0;
  }

  .hero-title {
    margin-bottom: 36px;
  }
  .current-portfolio,
  .current-studio {
    position: relative;
    color: var(--press-color);
    transition: color var(--transition-dur-funk);
  }

  /* Hover Line */

  .current-studio::after {
    display: block;
    position: absolute;
    width: 48px;
    height: 4px;
    content: "";
    background-color: var(--press-color);
    border-radius: 2px;
    margin-top: 20px;
    bottom: -1px;
  }

  .current-portfolio::after {
    display: block;
    position: absolute;
    width: 66px;
    height: 4px;
    content: "";
    background-color: var(--press-color);
    border-radius: 2px;
    margin-top: 20px;
    bottom: -1px;
    left: 0;
  }

  /* Sciils */

  .scills-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .first-scill {
    flex-basis: calc((100% - 24px) / 2);
    margin-bottom: 0;
  }

  .scills-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-color);
  }

  .scills-item {
    text-align: start;
  }

  /* Our Team*/

  .team-list-top {
    column-gap: 24px;
  }

  .team-list {
    flex-basis: calc((100% - 24px) / 2);
  }

  .customers-list {
    column-gap: 24px;
  }

  .every-customer-item {
    flex-basis: calc((100% - 48px) / 3);
    max-width: 168px;
  }

  /* footer */

  .container-footer {
    max-width: 584px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    align-items: baseline;
  }

  .footer-link {
    text-align: start;
  }

  .social-media-footer {
    margin-top: 0;
    margin-bottom: 0;
  }
  .social-media {
    text-align: start;
  }

  .subscribe-form {
    display: flex;
  }
  .subscribe-list {
    display: flex;
    width: 264px;
  }

  .subscribe-title {
    text-align: start;
  }

  .subscribe-email {
    width: 264px;
  }

  .subscribe-button {
    margin-top: 0;
    margin-left: 24px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
  screen and (min-resolution: 192dpi) and (min-width: 1158px),
  screen and (min-resolution: 2dppx) and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero-desktop2x.jpg");
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .addresses-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .link-email {
    margin-bottom: 0;
  }

  .addresses {
    font-style: normal;
  }

  .contact {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .logo {
    margin-right: 76px;
  }

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero-desktop.jpg");
    max-width: 1440px;
    margin: 72px auto 0;
    padding: 188px 0 188px;
  }

  .hero-title {
    max-width: 496px;
    margin-bottom: 48px;
    font-size: 56px;
    line-height: 1.07;
  }
  .scills {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .scills-container {
    display: flex;
    gap: 24px;
    flex-wrap: nowrap;
  }
  .scills-icon {
    display: grid;
  }
  .first-scill {
    flex-basis: calc((100% - 72px) / 4);
  }

  .scills-list {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4fd;
    border-radius: 4px;
    height: 112px;
    margin-bottom: 8px;
  }

  .scills-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .scills-item-about {
    font-weight: 400;
  }
  .doing-container {
    display: block;
    padding-bottom: 120px;
  }

  .doing-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-color);
    text-align: center;
    margin-bottom: 72px;
  }

  .first-doing {
    flex-basis: calc((100% - 48px) / 3);
  }

  .doing-list {
    display: flex;
    gap: 24px;
  }

  .team-container {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-list-top {
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
    gap: 24px;
  }

  .team-list {
    flex-basis: calc((100% - 72px) / 4);
  }

  .customers-container {
    padding-bottom: 120px;
    padding-top: 120px;
  }

  .customers-list {
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    gap: 24px;
  }
  .every-customer-item {
    width: calc((100% - 120px) / 6);
  }

  .footer {
    flex-wrap: nowrap;
    column-gap: 0;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .container-footer {
    max-width: 1158px;
    flex-wrap: nowrap;
    column-gap: 0;
  }

  .footer-link {
    margin-right: 0;
    margin-left: 0;
  }
  .footer-about {
    margin-left: 0;
    margin-top: 0;
  }
  .social-media-footer {
    margin-left: 120px;
    margin-right: 80px;
  }

  .footer-right {
    margin-right: 0;
    margin-left: 0;
  }
  .subscribe-list {
    display: flex;
  }
  .modal-window {
    width: 408px;
    min-height: 576px;
    padding: 72px 24px 24px 24px;
  }
}
/* Portfolio */
.portfolio-section {
  margin-top: 73px;
  padding-top: 96px;
  padding-bottom: 120px;
}

.list-modal-open {
  display: flex;
  margin: 0 auto 72px;
  gap: 24px;
  justify-content: center;
}

.modal-open {
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--active-color);
  background-color: var(--light-color);
  cursor: pointer;
  transition: color var(--transition-dur-funk),
    background-color var(--transition-dur-funk),
    border-color var(--transition-dur-funk),
    box-shadow var(--transition-dur-funk);
}

.modal-open:hover,
.modal-open:focus {
  color: var(--secondary-color);
  background-color: var(--press-color);
  border: 1px solid transparent;
}

.every-modal-open:hover,
.every-modal-open:focus {
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 2px 1px rgba(0, 0, 0, 0.08),
    0 2px 2px rgba(0, 0, 0, 0.12);
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.img-overlay {
  position: relative;
  overflow: hidden;
}

.every-service-overlay {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(77, 90, 229, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--light-color);
  padding: 40px 32px 40px 32px;
  width: 100%;
  height: 100%;
  transform: translate(0%, 100%);
  transition: transform var(--transition-dur-funk);
}

.every-service:hover .every-service-overlay,
.every-service:focus .every-service-overlay {
  transform: translate(0, 0);
}

.first-service {
  flex-basis: calc((100% - 48px) / 3);
}

.services {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-color);
  margin-bottom: 8px;
}

.services-border {
  border: 1px solid #e7e9fc;
  padding: 32px 16px;
  border-top: none;
}

.services-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.every-service {
  display: block;
  transition: box-shadow var(--transition-dur-funk);
}

.every-service:hover,
.every-service:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
